<!doctype html>
<html lang="en">

<head>
  <title>My peronnel portifilio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>
  <header>
    <div class="background_img">
      
      <div class="container-fluid  " id="nav_container">

        <nav class="navbar navbar-expand-lg text-secondary bg-dark  py-2 border-bottom ">
          <div class="container nav_container">
            <img src="/static/images/image1.jpg" alt="" width="40" height="40" style="border-radius:50%;">

            <a class="navbar-brand m-1 text-light ancar" href="#">Personel Portfilio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
              aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav_container" id="navbarScroll">
              <ul class="navbar-nav ms-auto my-2    my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                <li class="nav-item ">
                  <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#gallary">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-light" href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#about_us">About US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#contect_us">Contect Us</a>
                </li>

              </ul>

            </div>
          </div>
        </nav>
        {{!-- {{data}} --}}
      </div>
      </nav>
      <div class="background_img">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12 mt-5">
              <div class="container">
                <h1 class="title_text_img">Hi! My Name <br> Is Tasif Mushtaq </h1>
                <p class="text_img"><span> This is </span> personel <span> Portfilio
                    And I Am Profissional Full Stack Developer
                    Come For the webscite creation And Best Anomation
                  </span>
                </p>
              </div>
            </div>
            {{!-- <div class="col-md-6">
              <h1>Tiger</h1>
            </div> --}}
          </div>
        </div>
      </div>
      </div>
  </header>
  </div>

  <main>
    <div class="section" id="services">
      <div class="container py-5 mt-5">
        <h1 class="text-center">Services</h1>
        <div class="">
          <div class="row py-5 text-center">
            <div class="col-md-6 ">
              <h2 class="mt-5">
                Our Services Is To design And Develop the Best WebScites For Customer
              </h2>
              <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, impedit dolore
                libero soluta molestiae illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laborum
                aperiam, eaque ipsam iure accusantium dolores, itaque dolorum, minus quod velit quas. Ipsum, magni!
                Quaerat voluptatem eum repudiandae maxime maiores?</p>
              <button class="btn btn-primary">Click Me</button>
            </div>
            <div class="col-md-6 text-center">
              <img src="/static/images/icon_services.jpg" class="servic_img" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container ">

        <div class="row text-center">
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/website-design.svg" alt="">

                </div>
                <h5 class="card-title mt-2">Web Designing</h5>
                <p>There Programming Languages are HTML CSS JAVASCRIPT</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/website-maintenance.svg" alt="">

                </div>
                <h5 class="card-title mt-2">Web Development</h5>
                <p>There Programming Languages are PHP And Node JS</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center  ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/mobile-development.jpg" alt="">

                </div>
                <h5 class="card-title mt-2">App Development</h5>
                <p>There Programming Languages are HTML CSS JAVASCRIPT</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/computer-vision.jpg" alt="">

                </div>

                <h5 class="card-title mt-2">Computer Vision </h5>
                <p>Learn About computer Vission And The Hardware</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center  ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/ai-intelligence.svg" alt="">

                </div>
                <h5 class="card-title mt-2">Artificial intelligence</h5>
                <p>Bulilding of APIs And Robotics And Human Interaction</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="container text-center  ">
                  {{!-- <i class="{{this.icon}} service_icon"></i> --}}
                  <img class="card_imges" src="/static/images/concept-of-seo-ranking.svg" alt="">

                </div>
                <h5 class="card-title mt-2">SEO Development</h5>
                <p>Ranking Your Webscit And Channels To Top One</p>
                <a href="#!"></a>
                <a href="#" class="ml-4">Join Us</a>
              </div>

            </div>
          </div>

        </div>


      </div>
      <div class="section" id="gallary">
        <div class="container py-5">
          <h1 class="text-center">Gallary</h1>
          <div class="row text-center">
            <div class="col-md-4">
              <img src="/static/images/img1.jpg" class="gallary_img" alt="">
              <img src="/static/images/image6.jpg" class="gallary_img" alt="">
            </div>
            <div class="col-md-4 mt-4">
              <img src="/static/images/image2.jpg" class="gallary_img_c" alt="">
            </div>
            <div class="col-md-4 ">
              <img src="/static/images/image3.jpg" class="gallary_img" alt="">
              <img src="/static/images/image8.jpg" class="gallary_img" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="section" id="about_us">
        <div class="container py-5">
          <h1 class="text-center">About US</h1>
          <div class="container">
            <div class="row_flex mt-5">
              <div class="about_row ">
                <div class="about_div text-center">

                </div>
              </div>
            </div>
            {{!-- <div class="col-md-12"></div> --}}
          </div>
        </div>
        <div class="container" >
          <div class="row text-center py-2">
            <div class="col-md-6">
              <img class="about_image" src="/static/images/developer-team.svg" alt="">
            </div>
            <div class="col-md-6     about_s_col">
              <div class="">
                <h1>Here Is Something About Me</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab maiores amet deleniti ipsa dolor,
                  voluptatem ipsum quod necessitatibus aliquam illum, beatae laudantium eum inventore dolore iusto
                  eligendi perspiciatis excepturi.</p>
                <a href="#"><Button class="btn btn-outline-primary">Click More..</Button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="contect_us">
      <div class="container py-3">
        <h1 class="text-center">Contect Us</h1>
        <div class="row py-3">
          <div class="col-md-6  ">
            <form  action="/contect-us" method="post">
              <div class="row g-3 contact_col align-items-center">
              <div class="col-md-12 ">
                <input name="name" type="text" placeholder="Enter Your Name Here" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
              </div>
              <div class="col-md-12">
                <input name="passsword" type="password" placeholder="Enter Your Password Here" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
              </div>
              <div class="col-md-12">
                <textarea name="query" placeholder="Enter Your Query Here" name="" id="" style="height: 300px; width:80%"></textarea>
              </div>
            <div class="container text-center">
            <button type="submit" class="btn btn-dark">Submit</button>

            </div>
            </form>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/static/images/developers-doing-discussion-about-wireframe.jpg" height="400px" width="100%"  alt="">
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <!-- place footer here -->
    <div class="container-fluid bg-dark text-secondary py-2">
      <div class="row  text-center">
        <div class="col-md-12">
          <p>@ <span>CopyWright 2022</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>